.cartContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .cartItem {
    border: 1px solid #d33333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .cartItem p {
    margin: 5px 0;
  }
  