/* Register.css */

/* Body and general layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Account for Navbar height */
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    background-color: #808080;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #E75480;
  }
  
  .text-field {
    margin-bottom: 15px;
    background-color: #808080;
    color: #E75480;
    font-size: 20px;
    width: 100%;
    
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #E75480;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }
  
  .submit-button:hover {
    background-color: #000000;
  }
  
  