.pageContainer {
  background-image: url("https://i.pinimg.com/736x/09/f5/eb/09f5eb1d5ebb8d03ed612ff5098f8843.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This ensures the content is centered */
}

.formContainer {
  display: flex;
  justify-content: center; /* Horizontally center the form */
  align-items: center; /* Vertically center the form */
  height: 100%;
  width: 100%;
}

.form {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(28, 28, 28, 0.8);
  width: 900px;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  background-color: #333;
  color: #fff;
}

.button {
  margin-top: 20px;
  background-color: #D40076;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #A3005E;
}

.registerLink {
  margin-top: 15px;
}

.link {
  color: #D40076;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
